* {
    margin: 0;
    padding: 0;

}

body {

    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

main{
    flex: 1;
}

.cabecalho{
    color:rgb(196, 237, 247);
    padding: 15px 25 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000080 ;
}